<HTTPSamplerProxy guiclass="HttpTestSampleGui"
                  testclass="HTTPSamplerProxy"
                  testname="{{ name }}"
                  enabled="true">
  <stringProp name="HTTPSampler.domain">{{ domain }}</stringProp>
  <stringProp name="HTTPSampler.port">{{ port }}</stringProp>
  <stringProp name="HTTPSampler.protocol">{{ scheme }}</stringProp>
  <stringProp name="HTTPSampler.path">{{ path }}</stringProp>
  <stringProp name="HTTPSampler.method">{{ method }}</stringProp>
  <boolProp   name="HTTPSampler.follow_redirects">true</boolProp>
  <boolProp   name="HTTPSampler.use_keepalive">true</boolProp>

  {% if body %}
  <!-- raw JSON body -->
  <boolProp   name="HTTPSampler.postBodyRaw">true</boolProp>
  <elementProp name="HTTPsampler.Arguments"
               elementType="Arguments"
               guiclass="HTTPArgumentsPanel"
               testclass="Arguments"
               enabled="true">
    <collectionProp name="Arguments.arguments">
      <elementProp name="" elementType="HTTPArgument">
        <boolProp   name="HTTPArgument.always_encode">false</boolProp>
        <stringProp name="Argument.value">{{ body }}</stringProp>
        <stringProp name="Argument.metadata">=</stringProp>
      </elementProp>
    </collectionProp>
  </elementProp>
  {% endif %}
</HTTPSamplerProxy>
<hashTree>
  {% if headers %}
  <HeaderManager guiclass="HeaderPanel"
                 testclass="HeaderManager"
                 testname="Headers for {{ name }}">
    <collectionProp name="HeaderManager.headers">
      {% for k,v in headers.items() %}
      <elementProp name="{{ k }}" elementType="Header">
        <stringProp name="Header.name">{{ k }}</stringProp>
        <stringProp name="Header.value">{{ v }}</stringProp>
      </elementProp>
      {% endfor %}
    </collectionProp>
  </HeaderManager>
  <hashTree/>
  {% endif %}
</hashTree>